body
{
    margin: 0;
    background-color: #2f3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}
h1.logo
{
    font-size: 44px;
    font-weight: 700;
    color: #ddd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 50px;
    margin-top:  50px;
    margin-bottom: 40px;
}
nav
{
    background-color: #1c74b2;
    text-align: center;
}
.menu
{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    min-height: 40px;
    line-height: 200%;
}
.menu > li
{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px dashed #0a2b42;
}
.menu > li:first-child
{
    border-left: 1px dashed #0a2b42;
}
.menu a
{
    color: #fff;
    text-decoration: none;
}
.menu a:hover
{
    color: #0a2b42;
}