body
{
	background-color: #191d21;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	padding: 0;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}

h1
{
	font-size: 32px;
	font-weight: 400;
	color: #39a5f1;
	margin-top: 45px;	
	margin-bottom: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Hover effects */

.photo1
{
	width: 450px;
}


.photo2
{
	width: 450px;
}

.photo3
{
	width: 450px;
}

.photo4
{
	width: 450px;
}

.photo5
{
	width: 450px;
}

.photo6
{
	width: 450px;
}
